

  body { 
    grid-template-areas: 
      "header"
      "article"
      "div"
      "nav"
      "footer";
    grid-template-rows: 130px 1fr 180px 1fr 90px;  
    grid-template-columns: 1fr;
 }
header, footer, article, nav, div {
  padding: 1.2em;
 
  }
#header {
  grid-area: header;
  text-align: center;
  background-color: #65BDE1;
  }
#footer {
  grid-area: footer;
  text-align: center;
  background-color: #A4A4A4;
  }
#article { 
  grid-area: article;
  background-color: #F2EDED;
  text-align: justify;
  }
#article p {
    text-align: justify;
}
#nav { 
  grid-area: nav; 
  background-color: #E1DEDE;
 
  }
.navegacion {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: aliceblue;
    border: 3px solid blue;
    text-align: center;
    }
a:hover{
    color: black;
}
a:active {
    color:red;
}
#div { 
  grid-area: div; 
  background-color: #E1DEDE;
  }
h3 {
 text-align: center;
        
  }